/* HEADER */

.navbar-button-subscribe:hover {
    color: #2091F9;
    background-color: #ffffff;
    box-sizing: border-box;
}

.navbar-infos ul li:hover{
    color: #2091F9;
}

/* FOOTER */

.footer-button-one:hover{
    color: #2091F9;
    border-color: #ffffff;
    background-color: #ffffff;
}

.footer-button-two:hover{
    color: #2091F9;
    border-color: #ffffff;
    background-color: #ffffff;
}